.pixi
pixi.lock


data/
day2/demo2.ipynb
day2/napari_demo.ipynb
day2/rois.npy
day3/09. Motion Correction (solved).ipynb
day3/10. Suite2p Pipeline (solved).ipynb
day3/11. Using Suite2p Outputs (solved).ipynb