.pixi
pixi.lock


data/
day2/05. Multi-Pixel Data Extraction to 1D Calcium Trace (solved).ipynb
day2/06. Multi-Cell Manual ROI Selection in Napari (solved).ipynb
day2/07. Automate Cell Segmentation with scikit-image (solved).ipynb
day2/demo2.ipynb
day2/napari_demo.ipynb
day2/rois.npy
day3/
