data/
day1/01. Spiketime Analysis with Numpy and Matplotlib (solved).ipynb
day1/02. Single-Pixel Fluorescence in Calcium Imaging (solved).ipynb
day1/03. Spike Inference From Calcium Traces (solved).ipynb
day2/
day3/